<div class="row">
  <div class="col-sm-8">
    <div class="card">
       <div class="card-block">
        <h4 class="card-title"><%= article.title %>        
        </h4>
         <p class="card-text"><%= @markdown.render(article.body).html_safe %>
         </p>
          <div class="card-footer">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:50rem">
      Settings
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
      <a class="dropdown-item" href=<%=edit_article_path(article)%>>Edit</a>
      <a class="dropdown-item" href=<%= article_path(article)%> data-confirm="Are you sure?" data-method="delete">Delete</a>  
    </div>
        <p class="col-md-8 text-xs-left">
                        Tags:
                        <% article.tags.each do |tag| %>
                        <%= link_to tag.name, tag_path(tag), class:'label label-default' %>
                        <% end %>   
                        </p> 
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>