<header class="blog_header middle" id="intro">
    <span id="animationSandbox" style="display: block;">
		<h1 class="blog_title mega blog" style="margin-top:30px">Welcome to my Blog</h1>
			<span class="beta subhead ">Hi I'm Alecks Johanssen from CoderSchool </span> 
	</span>
</header>
            <% @articles.each do |article| %>
    <div class="card animated bounceInUp">
            <% if logged_in? %>  
<nav class="cd-stretchy-nav edit-content">
            <a class="cd-nav-trigger" href="">
            </a>
            <ul>
                <li><%= link_to raw("<i class=\"fa fa-pencil\"></i>"), edit_article_path(article),'data-toggle' => "tooltip", 'data-placement' => "left", 'title' => "Edit Article" %></li>
                <li> <%= link_to raw("<i class=\"fa fa-trash\"></i>") , article, method: :delete, data: { confirm: 'Are you sure?' }, :form => { :id => "button-delete" },'data-toggle' => "tooltip", 'data-placement' => "left", 'title' => "Delete Article" %></li>
            </ul>
            <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </nav>
                <% end %>
                <div class="wrap">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><%= link_to article.title, article %></h3>
        </div>
    <div class="panel-body">
         <p class="card-text" style="text-align:left"><%= @markdown.render(article.body).html_safe %></p>
    </div>
</div>
                <div class="card-block">
                    <h4 class="card-title"><%= link_to article.title, article %></h4>
                    <p class="card-text" style="text-align:left"><%= @markdown.render(article.body).html_safe %></p>

                <div class="card-footer text-muted " style="height: 50px;overflow:hidden;">
                    <p class="col-md-6 text-xs-left" style="margin-bottom:0px;">
                        Tags:
                        <% article.tags.each do |tag| %>
                        <%= link_to tag.name, tag_path(tag), class:'label label-default' %>

                        <% end %>
                    </p>       

                </div>
            </div>
            </div>
            <% end %>